html, body {
  height: 100%;
}

body {
  font-family: var(--font);
  font-weight: 400;
  background-color: var(--background-color);
  color: var(--main-text-color);
  letter-spacing: 0.04em;
}

a {
  text-decoration: none;
  color: var(--main-text-color);
}

button {
  font-family: var(--font);
  padding: 0;
  border: none;

  &:hover, &:focus {
    cursor: pointer;
    transform: scale(1.03);
    transition: transform linear 200ms;
    outline: none;
  }
}

.container {
  max-width: $mobile;
  padding: 0 15px;
  margin: 0 auto;

  @include tablet {
    max-width: $tablet;
  }
  @include desktop {
    max-width: $desktop;
  }
}

.accent-text-button {
  font-size: 18px;
  font-weight: 500;
  color: var(--accent-buttons-text-color);
  padding: 11px 44px;
  border-radius: 25px;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 4px rgba(255, 107, 8, 0.3);
}

.secondary-button {
  color: var(--secondary-text-color);
  font-size: 18px;
  background: none;
  text-decoration: underline;
}

.close-button {
  height: 18px;
  width: 18px;
  background-color: var(--main-text-color);
  -webkit-mask: url('../../assets/icons/close.svg') center/18px no-repeat;
  mask: url('../../assets/icons/close.svg') center/18px no-repeat;
}

.delete-button {
  height: 30px;
  width: 30px;
  -webkit-mask: url('../../assets/icons/delete.svg') center/30px 30px no-repeat;
  mask: url('../../assets/icons/delete.svg') center/30px 30px no-repeat;

  @include tablet {
    height: 34px;
    width: 34px;
    -webkit-mask: url('../../assets/icons/delete.svg') center/34px 34px no-repeat;
    mask: url('../../assets/icons/delete.svg') center/34px 34px no-repeat;
  }
}

.secondary-delete-button {
  height: 20px;
  width: 20px;
  background: url('../../assets/icons/delete.svg');
}

.visibility-button {
  height: 100%;
  width: 30px;
  background-color: var(--secondary-text-color);
  -webkit-mask: url(../../assets/icons/blocked-eye.svg) no-repeat center;
  mask: url(../../assets/icons/blocked-eye.svg) no-repeat center;

  &.open {
    background-color: var(--accent-color);
    -webkit-mask: url(../../assets/icons/eye.svg) no-repeat center;
    mask: url(../../assets/icons/eye.svg) no-repeat center;
  }
}

.arrow-button {
  height: 100%;
  min-height: 12px;
  width: 20px;
  background: url('../../assets/icons/open-arrow.svg') center no-repeat;

  &.open {
    transform: rotate(180deg);
  }

  &:focus, &:hover {
    transform: scale(1.2);
  }

  &.open:focus, &.open:hover {
    transform: rotate(180deg) scale(1.2);
  }
}

.redacting-button {
  height: 20px;
  width: 20px;
  background: url('../../assets/icons/redacting.svg');
}

.previous-button {
  width: 40px;
  height: 30px;
  background: url('../../assets/icons/left-arrow.svg') center no-repeat;
}

.next-button {
  width: 40px;
  height: 30px;
  background: url('../../assets/icons/right-arrow.svg') center no-repeat;
}

.next-button:hover, .previous-button:hover,
.next-button:focus, .previous-button:focus {
  transform: scale(1.2);
}

.chart-button {
  width: 100%;
  height: 100%;
  max-height: 44px;
  max-width: 44px;
  border-radius: 50%;
  background: var(--accent-color) url('../../assets/icons/analytics.svg') 10px 9px no-repeat;
}

.mat-dialog-container {
  padding: 40px !important;
}

.secondary-text {
  color: var(--secondary-text-color);
}