.message-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.message {
  font-size: 18px;
  overflow-wrap: anywhere;
}

.button {
  margin-top: 10px;
}