@import '../../../../scss/mixins';

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  
  @include tablet {
    padding: 0;
  }
}

.auth-form-title {
  font-size: 26px;
  font-weight: 500;
  padding-bottom: 30px;

  @include tablet {
    padding-bottom: 53px;
    font-size: 36px;
  }

  @include desktop {
    padding-bottom: 47px;
  }
}

.auth-form {
  width: 100%;
  margin-bottom: 40px;

  & .form-field:not(:last-child) {
    margin-bottom: 57px;
  }
}

.redirect-label {
  font-size: 12px;
}

.accent-text-button {
  margin-bottom: 20px;
}