<div class="container">
  <h1 class="auth-form-title">{{ 'LABELS.ENTER' | translate }}</h1>
  <form action="#" *ngIf="loginForm" [formGroup]="loginForm" class="auth-form">
    <div class="form-field">
      <label class="form-label" for="email">{{ 'FORM.EMAIL' | translate }}</label>
      <input class="form-input" id="email" appInput [email]="true" formControlName="email">
      <div class="hint-container">
        <p class="hint" *ngIf="emailControl?.errors?.['required'] && emailControl?.touched">{{ 'FORM.ERRORS.REQUIRED_FIELD' | translate }}</p>
        <p class="hint" *ngIf="emailControl?.errors?.['invalid'] && emailControl?.touched">{{ 'FORM.ERRORS.INVALID_EMAIL' | translate }}</p>
      </div>
    </div>
    <div class="form-field">
      <label class="form-label" for="password">{{ 'FORM.PASSWORD' | translate }}</label>
      <input class="form-input" id="password" type="password" appInput formControlName="password">
      <div class="hint-container">
        <p class="hint" *ngIf="passwordControl?.errors?.['required'] && passwordControl?.touched">{{ 'FORM.ERRORS.REQUIRED_FIELD' | translate }}</p>
      </div>
    </div>
  </form>
  <button class="accent-text-button" (click)="submit()">{{ 'BUTTONS.ENTER' | translate }}</button>
  <p class="secondary-text redirect-label">{{ 'LABELS.NO_ACCOUNT' | translate }} <a routerLink="../register" class="secondary-text">{{ 'BUTTONS.REGISTER' | translate }}</a></p>
</div>