<div class="task-container">
  <textarea class="name form-input" appTextarea (blur)="changeName()" [formControl]="changeNameControl"></textarea>
  <ul class="table">
    <li class="row">
      <span class="key">{{ 'LABELS.TASK_KEYS.SCHEDULED' | translate }}</span>
      <span class="value">{{ task.scheduledHours }}</span>
    </li>
    <li class="row input">
      <span class="key">{{ 'LABELS.TASK_KEYS.SPENT_DAY' | translate: { day: sprintDate | date: dateFormat } }}</span>
      <div class="value">
        <div class="form-field">
          <input class="spent-hours form-input" appInput [numberOnly]="true" [formControl]="spentHoursDayControl" 
            (blur)="changeHours()">
          <div class="hint-container">
            <p *ngIf="spentHoursDayControl.errors?.['min']">{{ 'FORM.ERRORS.MIN_VALUE' | translate: { min: minValue } }}</p>
            <p *ngIf="spentHoursDayControl.errors?.['max']">{{ 'FORM.ERRORS.MAX_VALUE' | translate: { max: maxValue } }}</p>
          </div>
        </div>
      </div>  
    </li>
    <li class="row">
      <span class="key">{{ 'LABELS.TASK_KEYS.SPENT_TOTAL' | translate }}</span>
      <span class="value">{{ task.totalHours }}</span>
    </li>
  </ul>
  <button class="secondary-delete-button" (click)="delete($event)"></button>
</div>