<div class="mobile-sidebar-container">
  <div class="container">
    <app-sidebar></app-sidebar> 
  </div>
</div>

<div class="main container">
  <app-sidebar class="sidebar" [type]="'project'" [list]="projects$ | async"></app-sidebar>
  <div class="project-information">
    <ng-container *ngIf="project">
      <div class="header">
        <textarea class="textarea" [id]="project._id" appTextarea [formControl]="changeNameControl" (blur)="changeProjectName()"></textarea>
        <app-add-button class="add-button" addType="sprint" [mainButton]="true" (buttonClick)="openSidebarForm()"></app-add-button>
      </div>
      <p class="description" *ngIf="project?.description">{{ project.description }}</p>
      <button class="add-people-button" *ngIf="false">
        <div class="icon"></div>
        <span class="text">{{ 'BUTTONS.ADD_PEOPLE' | translate }}</span>
      </button>
      <ul class="sprints-grid">
        <li class="sprint-card-container" *ngFor="let sprint of project?.sprints">
          <app-sprint class="sprint-card" [sprint]="sprint"></app-sprint>
        </li>
      </ul>
    </ng-container>
    <h1 class="name" *ngIf="!(loading$ | async) && !project">{{ 'LABELS.NOT_FOUND' | translate: { object: 'Project' } }}</h1>
  </div>
</div>