@import '../../../../scss/mixins';

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  overflow: auto;
  
  @include tablet {
    flex-direction: row;
  }
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include tablet {
    flex-direction: row;
  }
}

.mobile-sidebar-container {
  border-bottom: 1px solid var(--border-color);

  @include tablet {
    display: none;
  }
}

.sidebar {
  display: none;

  @include tablet {
    display: flex;
  }
}

.project-information {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 80px;

  @include tablet {
    max-height: 100%;
    overflow: auto;
    padding-left: 20px;
    padding-right: 10px;
  }
  
  @include desktop {
    padding-left: 70px;
  }

  & .name {
    font-size: 26px;
    font-weight: 500;

    @include tablet {
      font-size: 36px;
    }
  }

  .textarea {
    height: 35px;
    font-size: 26px;
    font-weight: 500;
    
    @include tablet {
      font-size: 36px;
      max-width: 80%;
    }
  }

  & .description {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 30px;
    width: 100%;
    
    @include tablet {
      font-size: 18px;
      max-width: unset;
    }

    @include desktop {
      max-width: 400px;
    }
  }

  & .add-button {
    position: fixed;
    bottom: 20px;
    right: 5%;
    z-index: 1;

    @include tablet {
      position: relative;
      top: 6px;
      bottom: unset;
      right: unset;
      align-self: flex-start;
    }
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.sprints-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;

  @include tablet {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  @include desktop {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
  }
}

.sprint-card {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 10px var(--border-color);
  transition: transform linear 200ms;

  &:hover {
    transform: scale(1.03);
    cursor: pointer;
  }
}

.add-people-button {
  display: flex;
  flex-direction: row;
  background: none;
  
  & .icon {
    height: 20px;
    width: 20px;
    background: url('../../../../assets/icons/add-people.svg') center;
    margin-right: 10px;
  }

  & .text {
    font-size: 18px;
    font-weight: 500;
    text-decoration: underline;
  }
}