<div class="container">
  <h1 class="form-title">{{ 'LABELS.REGISTRATION' | translate }}</h1>
  <form *ngIf="registerForm" [formGroup]="registerForm" class="form" (keyup)="onKeyUp($event)">
    <div class="form-field">
      <label class="form-label" for="email">{{ 'FORM.EMAIL' | translate }}</label>
      <input class="form-input" id="email" appInput [email]="true" formControlName="email">
      <div class="hint-container">
        <p class="hint" *ngIf="emailControl?.errors?.['required'] && emailControl?.touched">{{ 'FORM.ERRORS.REQUIRED_FIELD' | translate }}</p>
        <p class="hint" *ngIf="emailControl?.errors?.['invalid'] && emailControl?.touched">{{ 'FORM.ERRORS.INVALID_EMAIL' | translate }}</p>
      </div>
    </div>
    <div class="form-field">
      <label class="form-label" for="password">{{ 'FORM.PASSWORD' | translate }}</label>
      <input class="form-input password" id="password" type="password" appInput formControlName="password">
      <div class="hint-container">
        <p class="hint" *ngIf="passwordControl?.errors?.['required'] && passwordControl?.touched">{{ 'FORM.ERRORS.REQUIRED_FIELD' | translate }}</p>
        <p class="hint" *ngIf="passwordControl?.errors?.['minLength'] && passwordControl?.touched">{{ 'FORM.ERRORS.MIN_LENGTH_PASSWORD' | translate: { amount: passwordMinLength } }}</p>
        <p class="hint" *ngIf="passwordControl?.errors?.['containNumbers'] && passwordControl?.touched">{{ 'FORM.ERRORS.PASSWORD_MUST_CONTAIN_NUMBERS' | translate }}</p>
        <p class="hint" *ngIf="passwordControl?.errors?.['containCapitals'] && passwordControl?.touched">{{ 'FORM.ERRORS.PASSWORD_MUST_CONTAIN_CAPITALS' | translate }}</p>
        <p class="hint" *ngIf="passwordControl?.errors?.['containSpecSymbols'] && passwordControl?.touched">{{ 'FORM.ERRORS.PASSWORD_MUST_CONTAIN_SPEC_SYMBOLS' | translate }}</p>
      </div>
      <button type="button" class="visibility-button" appVisibilitySwitcher></button>
    </div>
    <div class="form-field">
      <label class="form-label" for="repeat-password">{{ 'FORM.REPEAT_PASSWORD' | translate }}</label>
      <input class="form-input password" id="repeat-password" type="password" appInput formControlName="repeatPassword">
      <div class="hint-container">
        <p class="hint" *ngIf="repeatPasswordControl?.errors?.['required'] && repeatPasswordControl?.touched">{{ 'FORM.ERRORS.REQUIRED_FIELD' | translate }}</p>
        <p class="hint" *ngIf="repeatPasswordControl?.errors?.['mismatch'] && repeatPasswordControl?.touched">{{ 'FORM.ERRORS.PASSWORD_DOESNT_MATCH' | translate }}</p>
      </div>
      <button type="button" class="visibility-button" appVisibilitySwitcher></button>
    </div>
  </form>
  <button class="accent-text-button" (click)="submit()" *ngIf="registerForm">{{ 'BUTTONS.REGISTER' | translate }}</button>
  <p class="secondary-text redirect-label">{{ 'LABELS.HAVE_ACCOUNT_QUESTION' | translate }} <a routerLink="../login" class="secondary-text">{{ 'LABELS.LOGIN' | translate }}</a></p>
</div>