<div class="mobile-sidebar-container">
  <div class="container">
    <app-sidebar type="sprint" type="sprint" [list]="sprints$ | async"></app-sidebar> 
  </div>
</div>

<div class="container main">
  <app-sidebar class="sidebar-container" type="sprint" [list]="sprints$ | async"></app-sidebar>
  <div class="sprint-information">
    <div class="header">
      <ng-container *ngIf="sprint">
        <div class="date-picker">
          <div class="date-container" (click)="calendarOpen = !calendarOpen">
            <div class="date">{{ sprintDate| date: 'dd.MM.yyyy' }}</div>
            <button class="arrow-button" [ngClass]="{ open: calendarOpen }">
            </button>
          </div>
          <app-calendar class="calendar" *ngIf="calendarOpen"
            [selectedDate]="sprintDate"
            [startDate]="sprint.startDate || null"
            [endDate]="sprint.endDate || null"
            (dateSelected)="setSprintDate($event); calendarOpen = false"
            >
          </app-calendar>
        </div>
        <div class="name-button-container">
          <textarea class="textarea" [id]="sprint._id" appTextarea [formControl]="changeNameControl" (blur)="changeSprintName()"></textarea>
          <app-add-button class="add-button" addType="task" [mainButton]="true" (buttonClick)="openSidebarForm()"></app-add-button>
        </div>
        <div class="search-container">
          <input class="form-input" id="search" [formControl]="searchControl">
          <span class="search-icon"></span>
        </div>
        <ul class="sections">
          <li [innerHTML]="'LABELS.TASK_SECTIONS.TASK' | translate"></li>
          <li [innerHTML]="'LABELS.TASK_SECTIONS.SCHEDULED' | translate"></li>
          <li [innerHTML]="'LABELS.TASK_SECTIONS.SPENT_DAY' | translate: { day: sprintDate | date: 'dd MMM yyyy' }"></li>
          <li [innerHTML]="'LABELS.TASK_SECTIONS.SPENT_TOTAL' | translate"></li>
        </ul>
      </ng-container>
      <h1 class="name" *ngIf="!(loading$ | async) && !sprint">{{ "LABELS.NOT_FOUND" | translate: { object: 'Sprint' } }}</h1>
    </div>
    <ul class="tasks" *ngIf="sprint">
      <ng-container *ngFor="let task of sprint?.tasks">
        <li class="task" *ngIf="task.name | filter: filterFunc()" >
          <app-task [task]="task" [sprintDate]="sprintDate" [sprintId]="sprintId"></app-task>
        </li>
      </ng-container>
    </ul>
  </div>
  <button class="chart-button" (click)="openChart()" *ngIf="sprint"></button>
</div>
