:root {
  --background-color: #F1F2F7;
  --dialog-background-color: #FFFFFF;

  --accent-color: #FF6B08;

  --main-text-color: #181C27;
  --secondary-text-color: rgba(24, 28, 39, 0.6);
  --secondary-button-color: #A6A6A6;

  --project-card-text-color: #FFFFFF;
  --project-card-violet: #8C72DF;
  --project-card-green: #71DF87;
  --project-card-red: #FF765F;

  --font: 'Montserrat', sans-serif;
}

$mobile: 310px;
$tablet: 708px;
$desktop: 1195px;